/* Global Settings */
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: #333;
}

#upload-form {
    margin: 20px 0;
}

#result {
    font-size: 20px;
    margin-top: 10px;
    color: #007bff;
}
